.tableDiv2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  margin: 2rem 1rem;
  background-color: rgb(10, 92, 35, 0.7);
  border-radius: 50px;
  padding: 5rem 3rem;
  max-width: 600px;
  margin: 0 auto;
}

.leaderboardTable {
  display: block;
  max-height: 500px;
  overflow-y: scroll;
}