@import './startingForms.css';
@import './selects.css';
@import './scoreForm.css';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Russo+One&display=swap');



#startGameButton {
    cursor: pointer;
}

#startGameButton, #goButton, .teamForm__createTeam, .playerForm__createPlayer, #submitScore, .teamFormTitle, .playerFormTitle, th, .scoreFormTitle {
    font-family: 'Russo One', sans-serif;
}

input, select, td, .teamNameScores {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url(../images/logs1.jpg);
    background-size: 100%;
}

.viewForms {
    border: 2px solid black;
    margin: 0 5rem;
    background-color: rgb(10, 92, 35, 0.7);
    border-radius: 50px;
}

#startGameButton {
    padding: 20px;
}

#startGameButton:hover {
    background-color: rgb(91, 11, 18, 0.7);
    color: whitesmoke;
}

.startGameButton {
    display: flex;
    justify-content: center;
    margin: 5rem;
}