@import './startingForms.css';
@import './selects.css';
@import './scoreForm.css';
@import './gameOverScreen.css';
@import './leaderboard.css';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Russo+One&display=swap');

header {
    display: flex;
    background-color: rgb(245, 245, 245, 0.7);
    justify-content: space-around;
    margin-bottom: 2rem;
    padding: 0.5rem;
}
.truncheon, .flagon {
    width: 10%;
}

#startGameButton,
#backToStart {
    cursor: pointer;
}

header, #startGameButton, #goButton, .teamForm__createTeam, .playerForm__createPlayer, #submitScore, .teamFormTitle, .playerFormTitle, th, .scoreFormTitle, .game-over-text, #backToStart, .leaderboardHeader {
    font-family: 'Russo One', sans-serif;
}

input, select, td, .teamNameScores, .game-over-container > p, .game-over-container > ol {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url(../images/logs1.jpg);
    background-size: 100%;
}

.viewForms {
    border: 2px solid black;
    margin: 0 5rem;
    background-color: rgb(10, 92, 35, 0.7);
    border-radius: 50px;
}

#startGameButton {
    padding: 20px;
}

#startGameButton:hover,
#backToStart:hover {
    background-color: rgb(91, 11, 18, 0.7);
    color: whitesmoke;
}

.startGameButton {
    display: flex;
    justify-content: center;
    margin: 5rem;
}